.logo{
    max-width: 200px;
}

body{
    background-color: #F7B953;
    font-family: "Sansita", sans-serif;
    background-image: url("./imagens/logo.png");
}


main{
    background-color: #eaeae8;
}

header{
    background-color: #22376e;
    text-align: center;
}

footer{
    background-color: #22376e;
    color: #eaeae8;
    padding-top: 10px;
}

h1{
    font-size: 40px;
    color: #e8442c;
    text-align: center;
}

p{
    font-size: 20px;
}

.menu1 a{
    color: white;
}

.banner{
    padding: 10px;
    background-color: #dadad5;
}

.banner img{
    width: 100%;
    height: 400px;
    object-fit: cover;
    object-position: 40% 0%;
    
}

h5{
    color: #e8442c;
    font-size: 20px;
}

.btn-outline-primary{
    margin-top: 10px;
    color:#e8442c;
}



.btn-outline-primary:hover{
    background-color: #e8442c;
}

.carousel-indicators li{
    background-color: #e8442c;
}

.texto_principal h2{
    color: #e8442c;
}


section div img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    object-position: 80% 50%;
}

/*Social media icons*/

ul.social-network {
	list-style: none;
	display: inline;
	margin-left:0 !important;
	padding: 0;
}
ul.social-network li {
	display: inline;
	margin: 0 5px;
}

.social-network a.icoFacebook:hover {
	background-color:#3B5998;
}

.social-network a.icoInstagram:hover {
	background-color:#E1306C;
}

.social-network a.icoWhatsapp:hover {
	background-color:#25d366;
}


.social-network a.icoWhatsapp:hover i, .social-network a.icoFacebook:hover i, .social-network a.icoInstagram:hover i{
	color:#fff;
}
a.socialIcon:hover, .socialHoverClass {
	color:#44BCDD;
}

.social-circle li a {
	display:inline-block;
	position:relative;
	margin:0 auto 0 auto;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	border-radius:50%;
	text-align:center;
	width: 50px;
	height: 50px;
	font-size:20px;
}
.social-circle li i {
	margin:0;
	line-height:50px;
	text-align: center;
}

.social-circle i {
	color: #fff;
	-webkit-transition: all 0.8s;
	-moz-transition: all 0.8s;
	-o-transition: all 0.8s;
	-ms-transition: all 0.8s;
	transition: all 0.8s;
}

.social-circle a {
 background-color: #D3D3D3;   
}